/* ******* Fonts ********** */
@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
/* ******* Fonts ********** */

/* ******* Colores ******** */
blanco = #FFFFFF
marron = #853201
/* ******* Colores ******** */

body
	font-family 'Open Sans', sans-serif
	font-size 16px
	

footer
	bottom 0px
	position absolute
	width 100%

h1
	margin 0
	padding 0
	

.Centro
	display flex
	display -webkit-flex
	margin 0 auto
	max-width 1200px
	padding-top 1.5em
	justify-content space-between
	width 100%
	.Data
		text-align right
		width 55%
		a
			color blanco
			text-decoration none
			padding .2em .6em .2em .6em
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			background marron
			padding .2em .6em .2em .6em
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		p
			color blanco
			font-size .9em
			text-shadow 1px 2px 2px #000000
		ul
			margin 0
			padding 0
			li
				font-size .9em
				display inline-block
				list-style none
				margin 1em 0 0 2em
				text-shadow 1px 2px 2px #000000

				a
					color blanco
					text-decoration none
					padding .2em .4em .2em .4em
					-webkit-transition all 0.5s ease
					-moz-transition all 0.5s ease
					-o-transition all 0.5s ease
					transition all 0.5s ease
				a:hover
					background marron
					padding .2em .4em .2em .4em
					-webkit-transition all 0.5s ease
					-moz-transition all 0.5s ease
					-o-transition all 0.5s ease
					transition all 0.5s ease
	.Logo
		width 30%
		a
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
		a:hover
			-webkit-transition all 0.5s ease
			-moz-transition all 0.5s ease
			-o-transition all 0.5s ease
			transition all 0.5s ease
			margin 1em

.Contenido-central
	background-image url('../img/bg.jpg')
	background-position center
	background-repeat no-repeat
	background-size cover
	height 665px
	

.Contenedor-pie
	display flex
	display -webkit-flex
	margin 0 auto
	max-width 1200px
	justify-content space-between
	width 100%
	.Data-pie
		width 70%
		a
			background marron
			color blanco
			padding .2em .4em .2em .4em
			text-decoration none
		p
			color blanco
			font-size .8em
	.Redes
		width 20%
		ul
			margin 0
			padding 0
			li
				list-style none
				display inline-block
				margin 0 1em 0 1em
				a:hover
					opacity 0.8
	

.Preheader
	background marron
	height 6px
	width 100%